<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itheima.media.mapper.WmNewsMapper">

    <select id="selectMyPage" resultType="com.itheima.media.vo.WmNewsVo" parameterType="map">
        SELECT
            wmn.*, wmu.`name` AS authorName
        FROM
            wm_news wmn
        LEFT JOIN wm_user wmu ON wmn.user_id = wmu.id
        <where>
            <if test="title!=null and title!=''">
                AND wmn.title LIKE #{title}
            </if>
            AND wmn.`status` IN (2, 3)
        </where>
        LIMIT #{start}, #{size}
    </select>
    <select id="countMyPage" resultType="java.lang.Long" parameterType="java.lang.String">
        SELECT
        count(*)
        FROM
        wm_news wmn
        LEFT JOIN wm_user wmu ON wmn.user_id = wmu.id
        <where>
            <if test="title!=null and title!=''">
                AND wmn.title LIKE #{title}
            </if>
            AND wmn.`status` IN (2, 3)
        </where>
    </select>
</mapper>